body {
    background-color: #393939;
    color: #FFF;
    font-size: 20px;
    font-family: sans-serif;
    padding: 50px;
}

@media (max-width: 500px) {
    body {
        font-size: 10px;
    }
}

a:visited {
    color: yellow;
}

#main {    
    width: 80%;  
    padding: 20px;  
    margin: auto;
}

#title {
    text-align: center;
}

#img-div {    
    display: flex;
    flex-direction: column;    
    max-width: 50%;
    margin: auto;
    text-align: center;
}

#image {
    width: 90%;  
    height: auto;
    margin: auto;
    border-radius: 10px;
}

#tribute-info {    
    margin: auto;
    width: 75%;
}

.section {
    padding: 20px;
}

.section h2 {    
    text-align: center;
}
footer {    
    text-align: center;
}
